* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    font-family: Arial, sans-serif;
    margin: 20px;
}
.mensagem {
    margin-top: 10px;
    padding: 10px;
    border-radius: 5px;
}
.mensagem.positiva {
    color: #155724;
    background-color: #d4edda;
    border: 1px solid #c3e6cb;
}
.mensagem.negativa {
    color: #721c24;
    background-color: #f8d7da;
    border: 1px solid #f5c6cb;
}